@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
}
.collapse{
    font-size: 20px;
}
.loguito{
    width:60px;
    height: 60px;
    border-radius: 35px;
}
ul{
    padding-left:0px;
}
.motivos ul{
    list-style-type:lower-roman;
}
.press{
    width: 500px;
    height:300px;
}
.logos_cont{
    width:50px;
    height: 50px;
    border-radius: 25px;
}
.titulo{
    text-align: center;
    font-size: 35px;
}
.subtitulo{
    text-align: center;
    font-size: 25px;
}
.musculo p{
    font-size: medium;
}
.main p{
    font-size: 20px;
}
ul li{
   text-align: left; 
}
a:hover {
    text-decoration: underline;
    background-color: #4da4fc;
    color: #4da4fc;
}

